<p style="border: white 8px outset" ><a href='http://joselon79.neocities.org/index.html'> Más en joselon79.neocities.org &laquo;</a></p> &nbsp; 
<%if(session.user){%>
<div class="content">
    <div class="item">
        <a href="https://joselon.github.io/ApuntesMasterEscuelaIT/index.html">
            <img src="https://joselon.github.io/ApuntesMasterEscuelaIT/imagen-curso-master-programacion-diseno-software-peque.jpg" height="70" alt="MasterEscuelaIT">
            <p>Apuntes Master Escuela IT</p>
        </a>  
    </div>
</div>
<%}%>
<img src='/images/lemmings.gif' title='Trabajando...' height="150" />
