
<h3> Bienvenida a <%=title%></h3>
<p>Vamos a probar a hacer un portal de música colaborativa</p>
<br>
<div class="container-fluid">
<img
    src="https://www.dropbox.com/s/ld463wvv8ntef52/Guardalo.jpeg?dl=1" class="img-responsive img-circle" alt="Guarda la pagina a tu pantalla de inicio"/>
<div class="caption col-xs-6">
          <p><small>Guarda desde tu navegador con la opción: Añadir a Pantalla de Inicio.</small></p>
</div>
</div>
<button><a href='/quizes'>COMENZAR</a></button>
<br>
<p> ¿Te apuntas?</p>
<p>Un escenario público donde se pueda ver si hay alguien tocando y se pueda participar si te animas</p>
<h4> JAM WEB</h4>
<p> La web donde podrás tocar con otros online compartiendo enlaces a Dropbox o similares</p>

