
<h3 style= 'color:white'> Bienvenida a <%=title%></h3>
<p style= 'color:white'>El portal de música colaborativa</p>
<br>
<div class="container-fluid">
<img
    src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Stereogram_Tut_Animated_Shark.gif" class="img-responsive img-circle" alt="Guarda la pagina a tu pantalla de inicio"/>
<div class="caption col-xs-6">
          <p style= 'color:white'><small>Guarda desde tu navegador con la opción: Añadir a Pantalla de Inicio.</small></p>
</div>
</div>
<button><a href='/quizes'>COMENZAR</a></button>
<br>
<p style= 'color:white'><small> La web donde podrás tocar con otros online compartiendo enlaces a Dropbox o similares</small></p>

