body {background: #333;opacity: 0.5;}

#page-wrap:after {content: "Smartphone Layout";}

h2 span, section h3 {display: none;}
body {font-size: xx-large;opacity: 0.5;}
footer, input {font-size: large;}