<form method='get' action='/quizes/answer'>
	<p>Sala de: <%= pregunta %> <p/>
	<input type='text' name='respuesta' value='Nombre aqui' onclick="if (this.value=='Respuesta') this.value='';"/>
	<input type='submit' value='Participar'/>
</form>
